<?xml version="1.0"?>
<odoo>
    <!--tree view for test-->



    <!--action of inventory consolidated report menu-->
    <act_window id="action_inventory_consolidated_report"
        name="Inventory Consolidated Report"
        res_model="inventory.consolidated"
        view_mode="tree,form"
    />

    <menuitem id="stock_move_menu" name="Inventory Consolidated Report"
              parent="stock.menu_warehouse_report"
              action="action_inventory_consolidated_report"/>
</odoo>